
main {
    font-family: arial;
}

header {
    border-bottom: 3px solid black;
    padding-left: 2%;
}

footer {
    border-top: 3px solid black;
    padding-left: 2%;
}

.delete {
    background-color: rgb(221, 63, 0);
    color: white;
    height: 25px;
    border-color:rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: 2px 2px rgb(156, 156, 156);
}

.add {
    background-color: rgb(44, 52, 168);
    color: white;
    height: 50px;
}

.categoryButton {
    background-color: rgb(44, 52, 168);
    color: white;
    height: 25px;
    border-color:rgb(0, 0, 0);
    border-radius: 4px;
    box-shadow: 2px 2px rgb(156, 156, 156);
}

.selectCategory {
    padding-bottom: 15px;
}

.tableHeader {
    font-weight: bold;
    font-size: 125%;
    color: rgb(44, 52, 168);
}

.title {
    font-weight: bold;
    font-size: 115%;
}

.desc {
    color: grey;
}

table {
    table-layout: auto;
    width: 1000px;
    height: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}


.tbl {
    overflow-x: auto;
    overflow-y: auto;
    padding-left: 2%;
}

.ctgtbl {
    padding-left: 2%;
    width: 75%;
}

tr {
    border: solid;
    border-width: 1px 0;
}

table td {
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
    border: 1px solid black;
}

.additem {
    padding-top: 5px;
}

.listlabel {
    color: rgb(44, 52, 168);
    font-weight: bold;
    font-size: 175%;
}

.addlabel {
    color: rgb(177, 97, 32);
    font-weight: bold;
    font-size: 150%;
}

#newitems {
    height: 30px;
    width: 74%;
    margin-bottom: 10px;
}